Source: arc-firefox-theme
Section: gnome
Priority: optional
Maintainer: James Lu <bitflip3@gmail.com>
Build-Depends: debhelper (>= 9),
 unzip,
 zip,
 autoconf,
 automake
Standards-Version: 3.9.8
Homepage: https://github.com/horst3180/arc-firefox-theme
Vcs-Git: https://github.com/utopia-themes/arc-theme
Vcs-Browser: https://github.com/utopia-themes/arc-theme

Package: arc-firefox-theme
Architecture: any
Depends: ${misc:Depends},
 firefox (>= 47~),
 arc-gtk-theme
Description: flat theme with transparent elements
 Arc is a flat theme with transparent elements for GTK+ 3, GTK+ 2 and GNOME
 Shell. It supports GNOME, Unity, Budgie, Pantheon, XFCE, Mate, and others.
 .
 This package installs three theme versions: Arc, Arc-Darker, and Arc-Dark,
 for the Mozilla Firefox web browser.
